<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## The Notebook

### The Introduction to the notebook

Data Science languages are-
1. R
2. Python
3. SQL
4. Tableu

Data Science Libraries - 
1. scikit-learn
2. TensorFlow
3. PyTorch
4. Theano

Table for Data Science tools -
|List||||
|--|-|-|-|
| RapidMiner | KNIME | Tableau | Apache Spark |
| Matplotlib | Excel | Python | SAS |
| TensorFlow | MATLAB | Weka | NumPy |
| Scikit-learn | Project Jupyter | Apache Hadoop | Qlik |
| Orange | Keras | SPSS | NLTK |
| SciPy | Tableau Public | Trifacta | BigQuery |

#### Arithmatic Expressions Examples
- addition        -> 2 + 4
- subtraction     -> 4 – 2
- multiplication  -> 2 * 4
- division        -> 8 / 2

In [13]:
print('Addition')
z = 3 + 6
print(z)

print('Multiplication')
y = 2 * 4
print(y)

Addition
9
Multiplication
8

In [22]:
# Convert Minute to Hours
min = int(input("Enter Minutes -> "))
print("Time in hours is -> ", int(min/60), "hours", min % 60, "minutes")

Enter Minutes :-->  50

Time in hours is ->  0 hours 50 minutes

## List of Objectives
- Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
- Exercise 3 - Create a markdown cell for an introduction. (1 pt)
- Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
- Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
- Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
- Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
- Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)
- Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
- Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
- Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)
- Exercise 12 - Share your notebook through GitHub (3 pts)
- Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

"title": "My Title!",
"authors": [
  { "name": "Author1" },
  { "name": "Author2" }
]